.Contact-us {
  background: #f2f2f2;
  color: black;
  height: 100%;
  width: 100%;
  margin-bottom: 2rem;
  .form-block {
    padding: 3rem 9rem 4rem 9rem;
    background-color: #f8f9fa!important;
    //background-image: url("../Images/contact_us.jpg");
    //background-size: cover;
  }
  @media (max-width: 768px) {
    .form-block {
      padding: 3rem;
    }
  }
}

.email-link {
  font-weight: bolder;
  color: #33b5ed;
}

.block-contact-information {
  justify-content: center;
  display: flex;
  padding-bottom: 2rem;
}

.fs-24 {
  font-size: 25px;
}

span.active{
  font-weight: bolder;
  color: #88da38;
}