.home-page {

  .info-block {
    display: block;
    background-color: black;
    background-image: url("../Images/header.png");
    background-size: cover;
    background-position-y: center;
    height: 20rem;
    width: 100%;
  }

  .info-block2 {
    display: block;
    height: 20rem;
    width: 100%;
  }
}
