body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.page-not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: url('./Images/404page.jpg');
    width: 100%;
    height: 100%;
}

.page-not-found span {
    font-size: 7rem;
}
